
[Unit]
Description=Update the plocate database hourly

[Timer]
OnCalendar=0/2:00:00
RandomizedDelaySec=2h
AccuracySec=2h
Persistent=true

[Install]
WantedBy=timers.target